{
  "presets": [
    // 为了避免 import x from 'foo' 被 babel 转换为 require，我们需要在 .babelrc 的 presets 配置中标明 "modules": false：
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  "plugins": [
    // babel对于 export default {} 支持不好
    // 需要插件 babel-plugin-add-module-exports：
    // "add-module-exports",
    "syntax-dynamic-import", // 动态解析 import()，实现路由懒加载
    "transform-vue-jsx",  // 支持 vue 直接 render JSX 语法
    "transform-runtime"
  ],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
