/**
 * global
 */

@import './var';
// @import './fix';
@import './base';
@import './icon';


// 对外部组件进行修正
.mint-toast {
  min-width: 80px;
}

.mint-swipe-indicators {
  z-index: 1;
}

.mint-swipe-item {
  z-index: 1;
}
