$sidebarWidth = 256px;

#app {
  .kit-sidebar {
    display: flex;
    flex-direction: column;

    .kit-sidebar__header {
      flex: 0 0 auto;
    }
    .kit-sidebar__body {
      flex: 1;
    }
  }
  // 主体区域
  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sidebarWidth;
  }

  // 侧边栏
  .sidebar-container,
  .kit-sidebar__header {
    transition: width 0.28s;
    width: $sidebarWidth  !important;
  }

  .kit-sidebar__header {
    height: 50px;
    background: #fff;
    z-index: 1030;
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
    // background-color: #17b3a3;
    background-color: $logoColor;
    // background-color: #002140;
  }
  .kit-sidebar__brand {
    display: flex;
    // justify-content: center;
    // align-items: center;
    vertical-align: middle;
    width: 100%;
    height: 50px;
    margin: 0;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;

    .kit-sidebar__brand-mini {
      display: none;
    }
  }

  .sidebar-container {
    box-shadow: 2px 0 6px rgba(0,21,41,.35);
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    // top: -6px;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }
    .scrollbar-wrapper {
      // height: calc(100% + 4px);
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      margin-right: -4px !important;
      margin-bottom: -4px !important;
      .el-scrollbar__view {
        height: 100%;
      }
    }
    .is-horizontal {
      display: none;
    }
    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .icon-svg {
      margin-right: 8px;
    }
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }
  }

  .hideSidebar {
    .sidebar-container,
    .kit-sidebar__header {
      width: 64px !important;
    }
    .kit-sidebar__brand {
      .kit-sidebar__brand-mini {
        display: block;
      }
      .kit-sidebar__brand-lg {
        display: none;
      }
    }
    .main-container {
      margin-left: 64px;
    }
    .submenu-title-noDropdown {
      padding-left: 20px !important;
      text-align: center;
      position: relative;
      .icon-svg {
        margin-right: 0;
      }
      .el-tooltip {
        padding: 0 10px !important;
      }
    }
    .el-submenu {
      overflow: hidden;
      &>.el-submenu__title {
        padding-left: 20px !important;
        text-align: center;
        &>.el-submenu__icon-arrow {
          display: none;
        }
      }
    }
    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          // padding-left: 20px !important;
          // text-align: center;
          &>.icon-svg {
            margin-right: 0;
          }
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }
  .sidebar-container .nest-menu .el-submenu>.el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    min-width: $sidebarWidth !important;
    background-color: $subMenuBg !important;
    &:hover {
      background-color: $menuHover !important;
    }
  }
  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sidebarWidth !important;
  }

  //适配移动端
  .mobile {
    .main-container {
      margin-left: 0px;
    }
    .sidebar-container {
      transition: transform .28s;
      width: $sidebarWidth !important;
    }
    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        // 变量加负号，使用括号括起来
        transform: translate3d(-($sidebarWidth), 0, 0);
      }
    }
  }
  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}
